<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="./home.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="../assets/images/git-preto.png" width="30" height="30">
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <!-- <li><a href="#" class="nav-link px-2 link-secondary">GOMOKU</a></li> -->
          </ul>
    
          <div class="col-md-3 text-end">
            <a class="btn btn-secondary" href="." role="button">Rankings</a>
            <a class="btn btn-danger" href="./game.html" role="button">Play Now!</a>
          </div>
        </header>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto">
            Ranking aqui ?
        </div>
        <div class="col"></div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-6 d-flex align-items-center">
            <span class="text-muted">© 2021 Gomoku. Developed by <a href="https://github.com/ygarasab">Eduardo Cardoso</a>, <a href="https://github.com/gabrielamaximino">Gabriela Maximino</a> and <a href="https://github.com/imatheussm">Igor Moreira</a>.</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://github.com/imatheussm/gomoku"><img src="../assets/images/git-preto.png" width="30" height="30"></img></a></li>
          </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
  </body>
</html>