.overlay, .overlay-container, #gomoku-board {
    width: 400px;
}

.overlay, #gomoku-board {
    height: 400px;
}

#logo-image {
    height: 50px;
}

.overlay {
    z-index: 1;
    background-color: RGBA(255, 255, 255, .8);
}

.overlay-night {
    background-color: RGBA(34, 34, 34, .8)!important;
}

#github-image {
    width: 30px;
    height: 30px;
}

.gomoku-board-check {
    border-radius: 10px;
    background-color: var(--bs-gray-600);
    width: 90%;
    height: 90%;
    padding: 2.5%;
    cursor: pointer;
}

.gomoku-board-check.disabled {
    background-color: var(--bs-gray-500);
    cursor: default;
}

.gomoku-board-check.bg-primary::after, .gomoku-board-check.bg-danger::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: attr(check-number);
    margin-left: -23%;
    color: var(--bs-gray-200);
    margin-top: -33%;
}

.bg-primary, .bg-danger {
    --bs-bg-opacity: 1;
}

.bg-danger {
    background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important;
}

.text-danger {
    color: rgb(var(--bs-danger-rgb))!important;
}

.bg-primary {
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}

.text-primary {
    color: rgb(var(--bs-primary-rgb))!important;
}
