.index-container {
    position: relative;
    text-align: center;
    justify-content: center;
}

.overlay {
    position: relative;
    width: 400px;
    height: 400px; 
    z-index: 1;
    background-color: RGBA(34,34,34,.8);
    align-items: center;
    display: flex;
    justify-content: center;
}

#github-image {
    width: 30px;
    height: 30px;
}

.overlay-container {
    position: relative;
    text-align: center;
}

.gomoku-board{
    position: absolute;
    display: grid;
    width: 400px;
    height: 400px;
}

.gomoku-board-check{
    position: relative;
    border-radius: 10px;
    background-color: var(--bs-gray-600);
    width: 90%;
    height: 90%;
    padding: 2.5%;
}

.red{
    background-color: var(--bs-red);
}

.blue{
    background-color: var(--bs-blue);
}

.gomoku-board-check.blue::after, .gomoku-board-check.red::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: attr(check-number);
    margin-left: -23%;
    color: var(--bs-gray-200);
    margin-top: -33%;
}