.index-container {
    position: relative;
    text-align: center;
    justify-content: center;
}

.overlay {
    position: relative;
    width: 400px;
    height: 400px; 
    z-index: 1;
    background-color: RGBA(255, 255, 255, .8);
    align-items: center;
    display: flex;
    justify-content: center;
}

#github-image {
    width: 30px;
    height: 30px;
}

.overlay-container {
    position: relative;
    text-align: center;
}

.gomoku-board{
    position: absolute;
    display: grid;
    width: 400px;
    height: 400px;
}

.gomoku-board-check{
    border-radius: 10px;
    background-color: gray;
    width: 90%;
    height: 90%;
    padding: 2.5%;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}